html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.app {
  padding: 1rem;
}

.chart-container {
  max-width: 1000px;
}

figure.plot {
  width: 100%;
}

/* Circle selection states for performance */
circle.brush-selected {
  opacity: 0.7;
}

circle.brush-unselected {
  opacity: 0.15;
}

circle.brush-normal {
  opacity: 0.7;
}
